.page-index 
{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    width: 80%;
    margin: 0 10%;
    background-color: var(--container-color);
    margin-top: 50px;
}

.page-index .header
{
    justify-content: center;
    display: flex;
    margin: 20px 0;
    font-size: 24px;
}
   
.page-index .search-container input
{
    max-width: none;
    width: 100%;
    border: none
}
  
.page-index .search-container input[type="date"]
{
    width: 0;
}

.page-index .search-container .mock-input
{
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: grey;
}

.page-index .empty-text
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.page-index .loadable-content
{
    position: relative;
}

.page-index .search-container .search-inputs
{
    width: 80%;
}

.page-index .loadable-content .table-container .table-row:first-child
{
    border: none;
}

.page-index .search-container .search-input-container
{
    position: relative;
    max-width: none;
    width: 30%;
    padding: 0;
    border: 1px solid grey;
    display: flex;
}

.page-index .search-container .search-input-container i.fa-calendar
{
    position: absolute;
    top: 12px;
    left: 7px;
}

.page-index .table-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--container-color);
    margin-bottom: 20px;
}

.page-index .table-container .table-row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.page-index .table-container .table-cell {
    flex: 1;
    justify-content: center;
    padding: 15px 0;
    display: flex;
}

.page-index .table-container .header {
    font-weight: bold;
    background-color: #f0f0f0;
}

.page-index .search-container {
    margin-bottom: 20px
}


.page-index .search-container input[type="date"]::-webkit-calendar-picker-indicator 
{
    opacity: 1;
    display: block;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
}